# Update these before exposing this to the internet, obviously
# You'll want to rename this file to .env or copy it's contents into the .env file
ADMIN_PASSWORD=MyPasswordHere
SITE_TITLE=NextSound
UPLOAD_MAX_FILESIZE=512M
POST_MAX_SIZE=512M
